*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#course-landing-page{
background-image:url(https://images.pexels.com/photos/15856827/pexels-photo-15856827/free-photo-of-metal-construction-on-sea-at-dawn.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
}
#course-landing-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    color: white;
  }
  
  .text-box {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    /* left: 50%; */
  }
  
  .course {
    width: 85%;
    margin: 2% auto;
  }
  
  .course .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
  }
  
  .course-col {
    width: 30%;
    padding: 1%;
    border-radius: 5px;
    background-color: antiquewhite;
    height: 400px;
  }
  
  .course-col img {
    width: 100%;
    height: 65%;
  }
  /* about section start */
  .about-section{
    width: 100%;
    min-height: 100vh;
    /* background-color: antiquewhite; */
  }
  .container{
    width: 80%;
    margin: auto;
    padding: 30px;
    /* display: flex; */
    }
.content-section{
  float: left;
  width: 40%;
}
    .title{
      text-transform: uppercase;
      font-size: 40px;
    }
    .content h3{
      margin-top: 20px;
      color: black;
      font-size: 32px;
    }
    .content p{
      margin-top:10px;
      color: black;
      font-size: 24px;
    }
    .content button{
      background-color: palevioletred;
      padding: 12px 13px;
      text-decoration: none;
      color: white;
      border: none;
      border-radius: 50%;
    }

    .social a i{
      color: blue;
      font-size: 30px;
      margin-right:8px ;      
      margin-top:8px ;     
    }
    .image-section{
      float: right;
      width: 50%;
    }
    .image-section img{
      width: 100%;
      height: 340px;
    }
.fa-bars{
  display: none;
}
@media only screen and(max-width:768px) {
  .fa-bars{
    display: block;
  }
  .nav-links{
    display: none;
  }
  .text-box h2{
    font-size: 1rem;
  }
  .text-box p{
    font-size: 0.8rem;
  }
  .course .row{
    flex-direction: column;
  }
  .course-col{
    width: 90%;
    margin:10px auto;
  }
  .content-section{
    float: none;
    width: 100%;
  }
  .content-section .title{
    font-size: 1.5rem;
  }
  .content-section p{
    font-size: 0.8rem;
  }
  .image-section{
    float: none;
    width: 100%;
  }

}